body{
    margin: auto;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    margin-top: 10rem;
    color: black;
}

.meperdonas{
    width: 360px;
    height: 360px;
    background-image: url(../imagenes/rata.jpg);
    margin: auto;

}

.respuestas{
    display: flex;
    place-content: center;
    margin: 20px auto;
    gap: 20px;
}
.si{
    width:90px;
    height: 70px;
    background-color: green;
    text-align: center;
}

.no{
    width:90px;
    height: 70px;
    background-color: red;
    text-align: center;
}

.si:hover , .no:hover{
    border:5px solid black;
}

#mensaje{
    color: transparent;
    text-align: center;
    font-size: 40px;
    animation: 5s amor infinite;
    background-clip: text;
}

#click{
    color: transparent;
    text-align: center;
    font-size: 40px;
    animation: 1s click infinite;
    background-clip: text;
}

a{
    text-decoration: none;
}

@keyframes amor {
    0%{background-color:rgb(0, 0, 0);}
    25%{background-color:rgb(128, 0, 255);}
    50%{background-color:rgb(179, 0, 255);}
    100%{background-color:rgb(0, 0, 0);}
}

@keyframes click {
    0%{background-color:rgb(0, 0, 0);}
    25%{background-color:rgb(255, 0, 0);}
    50%{background-color:rgb(255, 0, 0);}
    100%{background-color:rgb(0, 0, 0);}
}

